<div class="card">
  <h2 class="card-header">Login</h2>

  <form class="card-body login-form">
    <div class="form-group">
      <label class="form-label">Username:</label>
      <input type="text" class="form-input" id="username-login">
    </div>
    <div class="form-group">
      <label class="form-label">Password:</label>
      <input type="password" class="form-input" id="password-login">
    </div>
    <button type="submit" class="btn">Log in!</button>
  </form>
  
  <a href="/signup">Sign up instead</a>
</div>

<script src="/javascript/login.js"></script>