<div class="card">
  <h2 class="card-header">Add A New Post</h2>

  <form class="card-body new-post-form">
    <div class="form-group">
      <label class="form-label">Title:</label>
      <input type="text" class="form-input" id="title">
    </div>
    <div class="form-group">
      <label class="form-label">Content:</label>
      <textarea class="form-input" id="content"></textarea>
    </div>
    <button type="submit" class="btn">Create new Post</button>
  </form>

  <script src="/javascript/add-post.js"